

@page "/mesastatuses"
<h1>Estados de las mesas</h1>
<button @onclick="Agregar" class="btn btn-success" style="margin-bottom: 5px;">Agregar</button>
@if(MesaStatuses != null)
{
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mesastatus in MesaStatuses)
            {
                <tr>
                    <td>@mesastatus.Id</td>
                    <td>@mesastatus.Nombre</td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <button class="btn btn-outline-warning" @onclick="()=>Editar(mesastatus.Id)">Editar</button>
                            <button class="btn btn-outline-danger">Eliminar</button>
                    </div>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Cargando...</p>
}

@code
{
    public List<MesaStatusRecord>? MesaStatuses { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await mesaStatusesManager.GetAsync();
        if(response.Succeeded){
            MesaStatuses = response.Items.ToList();
        }
    }

    public void Agregar()
    {
        urlHelper.NavigateTo("/mesastatus/crear",false);
    }

    public void Editar(int Id)
    {
        urlHelper.NavigateTo($"/mesastatus/editar/{Id}",false);
    }
}

