@page "/rol/crear"
@page "/rol/editar/{Id:int}"
<EditForm Model="@Pedido" OnValidSubmit="Send">
<h1>@Titulo</h1>
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label>Nombre: </label>
        <InputText class="form-control" @bind-Value="Pedido.Nombre"></InputText>
    </div>
    
    
    <button type="submit" class="mt-2 btn btn-success  btn-with-margin">Guardar</button>
</EditForm>

@code
{
[Parameter]
public int Id { get; set; } = 0;

public string Titulo => Id>0? "Editar rol":"Crear rol";

public PedidoStatusUpdateRequest Pedido { get; set; } = new PedidoStatusUpdateRequest();

protected override async Task OnInitializedAsync()
{
    if(Id!=0){
        var resultado = await pedidoStatusesManager.GetByIdAsync(Id);
        if(resultado.Succeeded){
            Pedido.Id = resultado.Data.Id;
            Pedido.Nombre = resultado.Data.Nombre;
            StateHasChanged();
        }
    }
}
        
    public async void Send()
    {
            var resultado = await pedidoStatusesManager.CreateAsync(Pedido);
            if(resultado.Succeeded) urlHelper.NavigateTo("/pedidostatuses");
    }
}
