@using Client.Managers;
@using Restaurante.Shared.Records;
@using Restaurante.Shared.Wrapper;

@inject IClienteManager clientesManager;

@page "/clientes"
<h1>Clientes</h1>
@if(Clientes != null)
{
    
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Clientes)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Direccion</td>
                    <td>@cliente.Telefono</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Cargando...</p>
}

@code
{
    public List<ClienteRecord>? Clientes { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await clientesManager.GetAsync();
        if(response.Succeeded){
            Clientes = response.Items.ToList();
        }
    }
}

