@using Client.Managers;
@using Restaurante.Shared.Records;
@using Restaurante.Shared.Wrapper;

@inject IMesaManager mesasManager;

@page "/mesas"
<h1>Mesas</h1>
@if(Mesas != null)
{
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Tamaño</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mesa in Mesas)
            {
                <tr>
                    <td>@mesa.Id</td>
                    <td>@mesa.Tamaño</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Cargando...</p>
}

@code
{
    public List<MesaRecord>? Mesas { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await mesasManager.GetAsync();
        if(response.Succeeded){
            Mesas = response.Items.ToList();
        }
    }
}

