@using Client.Managers;
@using Restaurante.Shared.Records;
@using Restaurante.Shared.Wrapper;

@inject IMetodoPagoManager metodosManager;

@page "/metodospagos"
<h1>Metodos de pagos</h1>
@if(Metodos != null)
{
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var metodo in Metodos)
            {
                <tr>
                    <td>@metodo.Id</td>
                    <td>@metodo.Nombre</td>
                    <td>@metodo.Descripcion</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Cargando...</p>
}

@code
{
    public List<MetodoPagoRecord>? Metodos { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await metodosManager.GetAsync();
        if(response.Succeeded){
            Metodos = response.Items.ToList();
        }
    }
}

