@using Client.Managers;
@using Restaurante.Shared.Records;
@using Restaurante.Shared.Wrapper;

@inject IPedidoManager pedidosManager;

@page "/pedidos"
<h1>Pedidos</h1>
@if(Pedidos != null)
{
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Productos</th>
                <th>Estado</th>
                <th>Fecha de entrega</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pedido in Pedidos)
            {
                <tr>
                    <td>@pedido.Id</td>
                    <td>@pedido.Productos.Nombre $@pedido.Productos.Precio</td>
                    <td>@pedido.PedidoStatus.Nombre</td>
                    <td>@pedido.DeliveryTime</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Cargando...</p>
}

@code
{
    public List<PedidoRecord>? Pedidos { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await pedidosManager.GetAsync();
        if(response.Succeeded){
            Pedidos = response.Items.ToList();
        }
    }
}

