@using Client.Managers;
@using Restaurante.Shared.Records;
@using Restaurante.Shared.Wrapper;

@inject IUsuarioManager usuariosManager;

@page "/usuarios"
<h1>Usuarios</h1>
@if(Usuarios != null)
{
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Rol</th>
                <th>Nombre</th>
                <th>Nombre de usuario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Usuarios)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.UsuarioRol.Nombre</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.NombreUsuario</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Cargando...</p>
}

@code
{
    public List<UsuarioRecord>? Usuarios { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await usuariosManager.GetAsync();
        if(response.Succeeded){
            Usuarios = response.Items.ToList();
        }
    }
}

