<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Restaurante</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/clientes" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/facturas" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Facturas
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/mesas" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Mesas
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/mesastatuses" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Estados de las mesa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/metodospagos" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Metodos de pago
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/pedidos" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pedidos
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/pedidostatuses" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Estados de los pedidos
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/productos" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Productos
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/reservaciones" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Reservaciones
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/roles" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Roles
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/usuarios" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>
        </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
